@font-face {
  font-family: Nunito;
  src: url("./fonts/Nunito/Nunito-Bold.ttf");
}

@font-face {
  font-family: Nunito-i;
  src: url("./fonts/Nunito/Nunito-SemiBoldItalic.ttf");
}


@font-face {
  font-family: Nunito-Black;
  src: url("Nunito-Black.ttf");
}





